<!DOCTYPE html>
<html>
<head>
  <title>IPBW</title>
  <meta charset="UTF-8" />
  <link href="https://unpkg.com/98.css" rel="stylesheet" />
    <style>
        body {background-color: #00807F;}
    </style>
</head>

<body>
  <div class="window" style="margin: 64px; width: 400px">
    <div class="title-bar">
      <div class="title-bar-text">
        IPBW Statistics
      </div>
        <div class="title-bar-controls">
    <button aria-label="Close"></button>
  </div>
    </div>
    <div class="window-body">
      <p>Peers: <span id="peer-data">Waiting..</span></p>
        <p>Connections: <span id="conn-data">Waiting..</span></p>
    </div>
  </div>
  <img id="clippy" src="static/img/clippy.png" width="400px"/>
  <script>
      var ws = new WebSocket("ws://localhost:8000/ws");
      ws.onmessage = function(event) {
          data = JSON.parse(event.data)
          console.log(data);
          pd = document.getElementById("peer-data")
          pd.innerHTML = data["peer_count"]

          cd = document.getElementById("conn-data")
          cd.innerHTML = data["conn_count"]
      };
  </script>
</body>
</html>
